* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// TODO
body {
  /* ... */
  font-family: 'Inter', sans-serif;
  background-color: #1A1D23;
  color: #D7D7D7;
}

a {
  color: #D7D7D7;
  text-decoration: none;
}

